.round-button {
	width:75%;
	/*margin-left: 10%;*/

}
#round-button-circle-Entry {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
    
    background: #46bd8a; 
    box-shadow: 0 0 3px gray;
}
#round-button-circle-Entry:hover {
	background:#30588e;
}

#round-button-circle-Foundation {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
    
    background: #bd8a46; 
    box-shadow: 0 0 3px gray;
}
#round-button-circle-Foundation:hover {
	background:#30588e;
}

#round-button-circle-Expert {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
    
    background: #bd4f46; 
    box-shadow: 0 0 3px gray;
}
#round-button-circle-Expert:hover {
	background:#30588e;
}

#round-button-circle-Lead {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
    
    background: #bd4679; 
    box-shadow: 0 0 3px gray;
}
#round-button-circle-Lead:hover {
	background:#30588e;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}
